.column {
    float: left;
    width: 50%;
}

article {
    display: block;
}

nav {
    overflow:   auto;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 1650px) {
.column {
    width: 100%;
}
}
